<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}{% endblock %}

        {% javascripts
             'app/js/vendor/jquery-1.7.2.js'
             'app/js/vendor/knockout/build/output/knockout-latest.debug.js'
             'app/js/vendor/knockout-mapping/build/output/knockout.mapping-latest.debug.js'
             'bundles/bgrid/js/grid.js'
         %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
