<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% stylesheets
             'app/css/app.css'
             'bundles/bgrid/css/grid.css'
         %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet" />
        {% endstylesheets %}

        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="body">
            {% block body %}{% endblock %}
        </div>
        <script type="text/javascript">
            var Price = {};
            Price.config = {};
            {% block app_config %}{% endblock %}

        </script>
        {% javascripts
             'app/js/vendor/jquery-1.7.2.js'
             'knockout/knockout-latest.debug.js'
             'app/js/*'
             'bundles/bgrid/js/*'

         %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}



    </body>
</html>
