.layout {

}
.layout:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.column {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    margin: 0;
    float: left;
}
.groups.column {
    width: 25%;
}
.items.column {
    width: 75%;
}

.grid {
    display: table;
}

.grid .head {
    display: table-header-group;
}

.grid .body {
    display: table-row-group;
}

.grid .row {
    display: table-row;
}

.grid .row > div {
    display: table-cell;
    padding: 2px 4px;
}
.grid .head .row,
.grid .row:nth-child(even) {
    background-color: #D2E0E6;
}

.grid .row.isNew {
    background-color: #DBFFB4;
}

.grid .row.hasErrors {
    background-color: #EE5757;
}

.text {
    width: 200px;
    text-align: left;
}

.numbers {
    width: 80px;
    text-align: right;
}

.actions {
    width: 120px;
    visibility: hidden;
}
.grid .actions .static,
.grid .row:hover .actions {
    visibility: visible;
}
.grid .action:hover {
    color: #EE5757;
}
.grid .action:active {
    color: #C20000;
}

.clickable {
    cursor: pointer;
    color: blue;
}

.grid input[type=text] {
    width: 100%;
}